services:
  - type: web
    name: n8n
    env: docker
    image:
      url: docker.io/n8nio/n8n:latest
    plan: starter
    autoDeploy: true

    envVars:
      - key: N8N_HOST
        fromService:
          type: web
          name: n8n
          property: host

      - key: N8N_PORT
        value: "5678"

      - key: N8N_PROTOCOL
        value: https

      - key: WEBHOOK_URL
        fromService:
          type: web
          name: n8n
          property: host

      - key: N8N_BASIC_AUTH_ACTIVE
        value: "true"

      - key: N8N_BASIC_AUTH_USER
        sync: false

      - key: N8N_BASIC_AUTH_PASSWORD
        sync: false
